@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr 100px;
  grid-template-areas:
    "header header"
    "left-nav view"
    "footer footer";
}

.main-header {
  display: grid;
  grid-template-columns: 250px 1fr auto auto;
  grid-template-rows: 80px;
  text-transform: uppercase;
  grid-area: header;
}

.logo-area {
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  padding: 0 20px;
}
.logo-m {
  margin-right: 6px;
  border-radius: 50%;
  padding: 12px;
  font-size: 32px;
  background: linear-gradient(to left, rgb(226, 172, 121), rgb(255, 0, 0));
}

.input-search-area {
  display: flex;
  align-items: center;
}

.user-input {
  width: 280px;
  height: 25px;
  border-radius: 10px;
  padding: 18px;
  background: rgb(34, 34, 34);
  color: white;
  border: none;
}

.notifications-area i {
  height: 80px;
  line-height: 80px;
  color: red;
  font-size: 20px;
  padding: 0 15px;
  cursor: pointer;
}

.user-profile-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: teal;
  text-align: center;
  line-height: 50px;
}

.left-nav {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: left-nav;
}

.side-nav-menu {
  display: flex;
  align-items: center;
  height: 45px;
  width: 70px;
  background: linear-gradient(to left, rgb(255, 122, 122), rgb(216, 3, 3));
  color: thistle;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  font-size: 0px;
  margin-bottom: 20px;
  cursor: pointer;
}

.side-nav-menu i {
  font-size: 19px;
  padding: 10px;
  margin-right: 15px;
}

.side-nav-menu:hover {
  width: 180px;
  font-size: 17px;
  padding: 10px;
}

.user-view {
  grid-template-rows: 600px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-area: view;
}

.home {
  display: grid;
  height: 100%;
  background-image: url("./project-img/people-in-concert-1763075.jpg");
  background-size: cover;
}

.trending-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 550px;
}

.trending-text-box {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(116, 116, 116, 0.308);
  border-radius: 14px;
  box-shadow: -5px 8px 6px -6px black;
}

.trending-text-box h1 {
  text-align: center;
  margin: 20px 0px;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  font-family: "Audiowide", cursive, sans-serif;
}

.trending-text-box p {
  padding: 0 60px;
  font-size: 14px;
  border-radius: 12px;
  line-height: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.trending-buttons {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.trending-play-button,
.follow-button {
  width: 85px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(to left, rgb(255, 122, 122), rgb(216, 3, 3));
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.follow-button {
  background: rgb(34, 34, 34);
}

.popular-area {
  width: 100%;
  height: 200px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.popular-area h2 {
  width: 100%;
  height: 40px;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
}

.popular-artist-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  background-color: rgb(51, 51, 51);
  color: white;
}

.popular-list p {
  height: 20px;
  line-height: 40px;
}

.playlist {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: flex;
  margin-top: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.list h1 {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
}

.top-played {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 340px;
  padding: 10px;
}

.top-song-area {
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  margin: 14px 10px;
  font-size: 14px;
  border-radius: 15px;
  background-color: rgba(169, 169, 169, 0.075);
}

.top-album-img {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 189, 161, 0.445);
  font-size: 6px;
}

.top-play-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 10px;
  background-color: rgba(169, 169, 169, 0.075);
  border: 1px solid white;
  color: white;
}

.top-song-name {
  width: 150px;
  height: 30px;
  margin-left: 5px;
  text-align: start;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1px;
}

.heart-icon {
  color: white;
}

.heart-icon-liked {
  color: red;
}

.recommended-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 40px 4px;
}

.recommend-songs {
  width: 500px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px;
  color: white;
  padding: 18px 0px 0px 4px;
}

.recommended-area h2 {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

.rec-song-area {
  width: 180px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(169, 169, 169, 0.075);
  border-radius: 14px;
  padding: 8px;
}

.rec-album-img {
  width: 80px;
  height: 100%;
  border-radius: 14px;
  background-color: yellow;
}
.rec-artist-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100%;
}

.rec-artist-name h1 {
  font-size: 12px;
  margin-bottom: 4px;
}

.rec-artist-name p {
  font-size: 10px;
  color: darkgray;
}

.music-player-area {
  grid-area: footer;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.eco-song-info {
  width: 320px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.equalizer {
  width: 22px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.equ-boxes {
  width: 4px;
  border-radius: 12px;
  background-color: white;
}

.equ-box1 {
  height: 25px;
}

.equ-box2 {
  height: 20px;
}

.equ-box3 {
  height: 30px;
}

.player-song-info {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 70px;
}

.music-player-img {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.247);
}

.player-art-name {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.24);
}

.player-art-name p {
  color: darkgray;
}

.player-timeline-btn {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 15px;
}

.player-buttons-area {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.315);
}

.player-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 12px;
  background: none;
}

.play-pause-btn {
  background-color: rgba(169, 169, 169, 0.212);
}

.song-time-area {
  width: 480px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.song-timeline {
  width: 100%;
  height: 4px;
  margin: 0px 18px;
  background-color: rgba(169, 169, 169, 0.185);
}

.song-time-played {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: red;
}

.time-played-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
}

.player-icons {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.repeat-icon,
.vol-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
}
